.booking-body {
  min-height: calc(100vh - 140px)
}

.title-booking {
  font-family: "Chelsea Market", "cursive";
  font-size: 35px;
  margin-left: 20px;
}

.booking-text h3 {
  margin-top: 5px;
  font-size: 28px;
}

.form-booking {
  margin-top: 76px;
  margin-bottom: 20px;
  padding: 0px 34px;
}

.form-booking label {
  font-size: 15px;
  font-weight: 700;
}
