.title-show {
  font-family: "Chelsea Market", "cursive";
  font-size: 35px;
  margin-left: 20px;
}

.nde-description-info ul {
  margin: 0;
}

.nde-body h3 {
  margin-top: 5px;
  font-size: 28px;
}

.booking-button {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
