.deny {
  color : $red;
}

.accept {
  color: #00BD96;
}

.pending {
  color: #FF8500;
}

.user-page {
  min-height: calc(100vh - 140px);
}

.booking-comment {
  padding: 0px 15px;
  align-self: flex-start;
}
