.deny {
  color : $red;
}

.accept {
  color: #00BD96;
}

.pending {
  color: #FF8500;
}

.user-page {
  min-height: calc(100vh - 140px);
}

.user-details p {
  margin-top: -10px;
}

.booking-comment {
  padding: 0px 15px;
  align-self: flex-start;
}

.user-page h2 {
  font-size: 19px;
  color: #333333;
  line-height: 1.1;
  font-weight: bold;

}

.user-welcome-card {
  margin: 5px;
  background-color: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  padding-left: 35px;
  border-radius: 3px;
  padding-top: 1px;
  padding-bottom: 7px;

}

.user-details {
  margin: 5px;
  padding-left: 35px;
  padding-top: 1px;
  margin-top: 10px;
}

.user-card {
  margin-left: -30px;
  margin-top: -15px;
}

.user-descriptions {
  margin-right:99px;
  margin-left: 80px;
  margin-top: -20px;

}

.avatar-circle {
    display: inline-block;
    border-radius: 50%;
    margin-top: -20px;
    margin-bottom: 17px;
    margin-left: 173px;
    margin-right: 12px;
}

.avatar-circle-user {
    display: inline-block;
    border-radius: 50%;
    margin-top: -5px;
    margin-bottom: 18px;
    margin-left: 262px;
    margin-right: -4px;
    height: 190px;
    width: 190px;
}

.btn-primary {
  margin-top: 5px;
  margin-left: -1px;
  opacity: 0.9;
  background-color: #787a82;
  border-color: #929498;
  font-size: 16px;
}
