<div class="footer">
  <p>Made with <i class="fas fa-skull skull-red"></i> by :</p>
  <ul class="list-inline">
    <li>
      Camille
      <%= link_to 'https://github.com/kukurbitacer', target: "_blank" do %>
      <i class="fab fa-github"></i>
      <% end %>
    </li>
    <li>
      Taylor
      <%= link_to 'https://github.com/GLTaylor', target: "_blank" do %>
      <i class="fab fa-github"></i>
      <% end %>
    </li>
    <li>
      Noah
      <%= link_to 'https://github.com/noahleal', target: "_blank" do %>
      <i class="fab fa-github"></i>
      <% end %>
    </li>
    <li>
      Ginny
      <%= link_to 'https://github.com/ginnywhx', target: "_blank" do %>
      <i class="fab fa-github"></i>
      <% end %>
    </li>
  </ul>


</div>
