.card {
  margin: 40px;
}
.card-body {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 30px;
  width: 153vh;
  height: 100vh;
}
.card-price {
  border-radius: 6px;
  box-shadow: 11px 9px 36px -6px rgba(112,112,112,1);
  height: 200px;
  width: 180px;
  display: inline-block;
  margin: 30px;
  background-color: white;
  position: absolute;
  bottom: 4px;
  right: 17px;
  color: darkgrey;
}
.card-price li {
  display: flex;
  justify-content: center;
}
.card-review {
  position: absolute;
  bottom: 15px;
  left: 10px;
}
