<div class="card-review" id="new_review">
 <h4> <%= review.title %> </h4> <br>
  <p>
   <%= review.body %> --
  <em>
    <% if review.user.name.present? %>
      <%= review.user.name %>
    <% else %>
      <%= review.user.email %>
    <% end %>
  </em>
  </p>
<div class="card-review-rating">
  <% review.rating.times do %>
    <i class="fas fa-skull skull-red"></i>
  <% end %>
</div>
</div>
